---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

a:not(.button):hover,
a:not(.button):focus {
    text-decoration: none;
}

$dark: #2b303b;

header.site-header {
    background: $dark;
    padding: 20px;

    .site-title {
        float: left;
        font-size: 2rem;
    }
    .site-nav {
        float: right;
        font-size: 1.6rem;
        margin-top: 0.4rem;
        a {
            margin-left: 15px;
        }
    }
    a {
        color: #ececec;
        &:hover {
            color: #fff;
        }
    }
}

body#landing .main {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 10px 0;
    background: $dark;
    text-align: center;

    h1, small {
        color: #fafafa;
        font-weight: 300;
        margin-top: 2rem;
    }
    h1 small {
        font-size: 2rem;
    }

    .button {
        background: #39404C;
        color: #C0C5CE;
        border: none;
        &:hover {
            background: #4F5B66;
        }
    }
}

body#docs {
    header.site-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
    }
    main.documentation {
        nav.sidebar {
            position: fixed;
            overflow: hidden;
            top: 67px;
            bottom: 0;
            left: 0;
            width: 200px;
            z-index: 9;
            border-right: 1px solid lighten($dark, 65%);
            background: #f1f1f1;
            .scroll {
                height: 100%;
                width: 150%;
                overflow: auto;
                padding-right: 20px;
            }

            ul li {
                
                margin: 0;
                font-size: 1.3rem;
                font-weight: 600;
                cursor: pointer;
                a {
                    display: block;
                    padding: 1rem 1.2rem;
                    border-top: 1px solid lighten($dark, 65%);
                    color: $dark;
                    &:hover {
                        background: #fff;
                    }
                }
                ul {
                    margin: 0;
                    list-style-type: none;
                    li {
                        font-weight: 400;
                        a {
                            padding: 0.8rem 2rem;
                            border: none; 
                            background: #f9f9f9;
                        }
                    }
                }
            }
        }

        .example-content {
            margin-top: 67px;
            margin-left: 200px;
            clear: left;
        }
        .content {
            @media (min-width: 1024px) {
                min-height: 100vh;
                background: #3a4150;
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAtJREFUCB1j+A8EAAn7A/0Mu1vnAAAAAElFTkSuQmCC");
                background-size: 50% 100%;
                background-repeat: no-repeat;
            }
            margin-top: 67px;
            margin-left: 200px;
            clear: left;
            section {
                margin-top: -67px;
                padding-top: 67px;
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }
            div.info, div.code {
                padding: 2rem;
            }
            .code {
                background: lighten($dark, 7%);
                min-height: 100%;
            }
        }
    }
}

body#docs main.documentation .example-content {
    h3 {
        margin: 35px 0px;
    }
    .demo {
        margin: 10px 0px;
        padding: 1rem;
        background: #4F5B66;
        border-radius: 5px;
        text-align: center;
        color: #DFE3EA;
        font-size: 1.2rem;
    }
}

body#docs main.documentation .grid-demo {
    .row {
        margin: 1rem 0;
    }
    [class*='column-'] {
        .demo {
            background: #4F5B66;
            padding: 1rem;
            border-radius: 5px;
            text-align: center;
            color: #EBEFF5;
        }
    }
}

@import "highlight";
