---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

a:not(.button):hover,
a:not(.button):focus {
    text-decoration: none;
}

header.site-header {
    background: #2b303b;
    padding: 20px;

    .site-title {
        float: left;
        font-size: 2rem;
    }
    .site-nav {
        float: right;
        font-size: 1.6rem;
        margin-top: 0.4rem;
        a {
            margin-left: 15px;
        }
    }
    a {
        color: #ececec;
        &:hover {
            color: #fff;
        }
    }
}

body#landing .main {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 10px 0;
    background: #2b303b;
    text-align: center;

    h1, small {
        color: #fafafa;
        font-weight: 300;
        margin-top: 2rem;
    }
    h1 small {
        font-size: 2rem;
    }

    .button {
        background: #39404C;
        color: #C0C5CE;
        border: none;
        &:hover {
            background: #4F5B66;
        }
    }
}

body#docs {
    header.site-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
    }
    main.documentation {
        nav.sidebar {
            position: fixed;
            overflow-x: visible;
            overflow-y: scroll;
            top: 67px;
            bottom: 0;
            left: 0;
            width: 200px;
            z-index: 9;
        }

        .content {
            margin-top: 67px;
            margin-left: 200px;
            clear: left;
            .column {
                height: 100%;
            }
        }
    }
}
