<nav class="sidebar">
    <div class="scroll">
        <ul>
            <li>
                <a href="/docs#getting-started">Getting Started</a>
                <ul>
                    <li><a href="/docs#customisation">Customisation</a></li>
                </ul>
            </li>
            <li>
                <a href="/docs/grid#grid">Grid</a>
                <ul>
                    <li><a href="/docs/grid#gutters">Gutters</a></li>
                    <li><a href="/docs/grid#responsive">Responsive</a></li>
                </ul>
            </li>
            <li>
                <a href="/docs/typography">Typography</a>
                <ul>
                    <li><a href="/docs/typography#headings">Headings</a></li>
                    <li><a href="/docs/typography#something">Something</a></li>
                    <li><a href="/docs/typography#blocks">Blocks</a></li>
                    <li><a href="/docs/typography#alerts">Alerts</a></li>
                </ul>
            </li>
            <li><a href="#">Elements</a></li>
            <li><a href="#">Components</a></li>
            <li><a href="#">Utilities</a></li>
        </ul>
    </div>
</nav>
