/*
 * Definitions
 */

// Text Message
$alert-margin: 1.5rem 0 !default;
$alert-padding: 1rem 1.5rem !default;
$alert-font-family: $paragraph-font-family !default;
$alert-font-weight: $paragraph-font-weight !default;
$alert-font-size: 1.2 !default;
$alert-color: $body-color !default;
$alert-line-height: $paragraph-line-height !default;
$alert-border-color: $dark !default;

// Text Message Indicators
$alert-error-color: $error !default;
$alert-warning-color: $warning !default;
$alert-success-color: $success !default;
$alert-info-color: $info !default;


/*
 * Text Message
 */

// Text Message
.alert {
    margin: $alert-margin;
    padding: $alert-padding;
    font-size: $alert-font-family;
    font-weight: $alert-font-weight;
    @include font-size($alert-font-size);
    color: $alert-color;
    line-height: $alert-line-height;
    border: 1px solid $alert-border-color;
    
    // Error
    &.error {
        color: darken($alert-error-color, 10%);
        border: 1px solid $alert-error-color;
        background: lighten($alert-error-color, 20%);
    }

    // Warning
    &.warning {
        color: darken($alert-warning-color, 20%);
        border: 1px solid $alert-warning-color;
        background: lighten($alert-warning-color, 25%);
    }
    
    // Success
    &.success {
        color: darken($alert-success-color, 15%);
        border: 1px solid $alert-success-color;
        background: lighten($alert-success-color, 25%);
    }
    
    // Info
    &.info {
        color: darken($alert-info-color, 10%);
        border: 1px solid $alert-info-color;
        background: lighten($alert-info-color, 25%);
    }
}
