/*
 * Definitions
 */

// Blockquote
$blockquote-margin: 3.5rem 0 !default;
$blockquote-padding: 0 3rem !default;

// Blockquote Quote
$blockquote-quote-margin: 0 !default;
$blockquote-quote-font-family: $lead-font-family !default;
$blockquote-quote-font-weight: $lead-font-weight !default;
$blockquote-quote-font-size: $lead-font-size !default;
$blockquote-quote-font-style: normal !default;
$blockquote-quote-line-height: $line-height-medium !default;
$blockquote-quote-color: $body-color !default;

// Blockquote Cite
$blockquote-cite-margin: 1rem 0 !default;
$blockquote-cite-font-family: $regular-font-family !default;
$blockquote-cite-font-weight: $regular-font-family !default;
$blockquote-cite-font-size: $font-size-medium !default;
$blockquote-cite-font-style: normal !default;
$blockquote-cite-color: $blockquote-quote-color !default;
$blockquote-cite-text-align: right !default;


/*
 * Blockquote
 */

blockquote {
	margin: $blockquote-margin;
	padding: $blockquote-padding;

	// Blockquote Quote
	p {
		margin: $blockquote-quote-margin;
		font-family: $blockquote-quote-font-family;
		font-weight: $blockquote-quote-font-weight;
		@include font-size($blockquote-quote-font-size);
		font-style: $blockquote-quote-font-style;
		line-height: $blockquote-quote-line-height;
		color: $blockquote-quote-color;
	}
	
	// Blockquote Cite
	cite {
		display: block;
		margin: $blockquote-cite-margin;
		font-family: $blockquote-cite-font-family;
		@include font-size($blockquote-cite-font-size);
		font-style: $blockquote-cite-font-style;
		color: $blockquote-cite-color;
		text-align: $blockquote-cite-text-align;
	}
}
