/*
 * Definitions
 */

// Code
$code-font-family: $monospace-font-family !default;
$code-font-weight: normal !default;
$code-font-size: 1.2 !default;
$code-color: $tertiary !default;


/*
 * Code
 */

code {
	font-family: $code-font-family;
	font-weight: $code-font-weight;
	@include font-size($code-font-size);
	color: $code-color;
}
