/*
 * Definitions
 */

// Horizontal Rule
$hr-margin: 3.5rem auto !default;
$hr-height: 1px !default;
$hr-background: $light-grey !default;


/*
 * Horizontal Rule
 */

hr {
	clear: both;
	margin: $hr-margin;
	border: 0;
	height: $hr-height;
	background: $hr-background;
}
