/*
 * Definitions
 */

// Kbd
$kbd-margin: 0 0.5rem !default;
$kbd-padding: 0.4rem !default;
$kbd-font-family: $code-font-family !default;
$kbd-font-weight: $code-font-weight !default;
$kbd-font-size: $code-font-size !default;
$kbd-color: $code-color !default;
$kbd-background: $pre-background !default;
$kbd-border: $pre-border !default;


/*
 * Kbd
 */

kbd {
	margin: $kbd-margin;
	padding: $kbd-padding;
	font-family: $kbd-font-family;
	font-weight: $kbd-font-weight;
	@include font-size($kbd-font-size);
	color: $kbd-color;
	background: $kbd-background;
	border: $kbd-border;
}
