/*
 * Definitions
 */

// Lead
$lead-margin: 0 0 2rem 0 !default;
$lead-font-family: $thin-font-family !default;
$lead-font-weight: $thin-font-weight !default;
$lead-font-size: 2 !default;
$lead-color: $body-color !default;
$lead-line-height: $line-height-medium !default;


/*
 * Lead
 */

.lead {
	margin: $lead-margin;
	font-family: $lead-font-family;
	font-weight: $lead-font-weight;
	@include font-size($lead-font-size);
	color: $lead-color;
	line-height: $lead-line-height;
}
