/*
 * Definitions
 */

// Paragraph
$paragraph-margin: 2rem 0 !default;
$paragraph-font-family: $regular-font-family !default;
$paragraph-font-weight: $regular-font-weight !default;
$paragraph-font-size: $font-size-medium !default;
$paragraph-color: $body-color !default;
$paragraph-line-height: $line-height-medium !default;


/*
 * Paragraph
 */

p {
	margin: $paragraph-margin;
	font-family: $paragraph-font-family;
	font-weight: $paragraph-font-weight;
	@include font-size($paragraph-font-size);
	color: $paragraph-color;
	line-height: $paragraph-line-height;
}
