/*
 * Definitions
 */

// Pullout
$pullout-margin: $blockquote-margin !default;
$pullout-padding: $blockquote-padding !default;
$pullout-font-family: $blockquote-quote-font-family !default;
$pullout-font-weight: $blockquote-quote-font-weight !default;
$pullout-font-size: $blockquote-quote-font-size !default;
$pullout-color: $blockquote-quote-color !default;
$pullout-border: solid $primary !default;
$pullout-border-width:  0 0 0 0.5rem !default;


/*
 * Pullout
 */

.pullout {
	margin: $pullout-margin;
	padding: $pullout-padding;
	font-family: $pullout-font-family;
	font-weight: $pullout-font-weight;
	@include font-size($pullout-font-size);
	color: $pullout-color;
	border: $pullout-border;
	border-width: $pullout-border-width;
}
