/*
 * Definitions
 */

// Button
$button-padding: 1.2rem 1.6rem !default;
$button-height: $height-medium !default;
$button-font-family: $bold-font-family !default;
$button-font-weight: $bold-font-weight !default;
$button-font-size: 1.4 !default;
$button-color: $dark-grey !default;
$button-line-height: 1 !default;
$button-text-align: center !default;
$button-text-transform: none !default;
$button-background: $white !default;
$button-border: 1px solid $light-grey !default;
$button-border-radius: $border-radius !default;

// Button Hover
$button-hover-color: $dark-grey !default;
$button-hover-background: darken($button-background, 10%) !default;
$button-hover-border: 1px solid darken($light-grey, 10%) !default;

// Button Disabled
$button-disabled-opacity: 0.5 !default;

// Button Block
$button-block-text-align: center !default;


/*
 * Button
 */

// Button
button,
.button {
	@include button;
	@include button-size($button-padding, $button-height, $button-font-size);
	@include button-theme($button-color, $button-background, $button-border, $button-hover-color, $button-hover-background, $button-hover-border);
}

// Button Disabled
button:disabled {
	cursor: no-drop;
	opacity: $button-disabled-opacity;
}

// iOS "clickable elements" fix for role="button"
[role="button"] {
	cursor: pointer;
}
	
/*
 * Button Modifiers
 */

// Button Block
.button-block {
	display: block;
	width: 100%;
	text-align: $button-block-text-align;
}

// Button Center
.button-center {
	display: inline-block;
	margin: 0 auto;
}
