/*
 * Definitions
 */

// Button Inverse
$button-inverse-color: $light !default;
$button-inverse-background: $inverse !default;
$button-inverse-border: 1px solid darken($inverse, 5%) !default;
$button-inverse-hover-color: $button-inverse-color !default;
$button-inverse-hover-background: darken($button-inverse-background, 10%) !default;
$button-inverse-hover-border: 1px solid darken($inverse, 15%) !default;

// Button Primary
$button-primary-color: $white !default;
$button-primary-background: $primary !default;
$button-primary-border: 1px solid darken($primary, 5%) !default;
$button-primary-hover-color: $button-primary-color !default;
$button-primary-hover-background: darken($primary, 10%) !default;
$button-primary-hover-border: 1px solid darken($primary, 15%) !default;

// Button Secondary
$button-secondary-color: $white !default;
$button-secondary-background: $secondary !default;
$button-secondary-border: 1px solid darken($secondary, 5%) !default;
$button-secondary-hover-color: $button-secondary-color !default;
$button-secondary-hover-background: darken($secondary, 10%) !default;
$button-secondary-hover-border: 1px solid darken($secondary, 15%) !default;

// Button Tertiary
$button-tertiary-color: $white !default;
$button-tertiary-background: $tertiary !default;
$button-tertiary-border: 1px solid darken($tertiary, 5%) !default;
$button-tertiary-hover-color: $button-tertiary-color !default;
$button-tertiary-hover-background: darken($tertiary, 10%) !default;
$button-tertiary-hover-border: 1px solid darken($tertiary, 5%) !default;

// Button Border
$button-border-color: $dark !default;
$button-border-border: 1px solid $button-border-color !default;
$button-border-background: transparent !default;
$button-border-hover-color: $white !default;
$button-border-hover-border: 1px solid $button-border-color !default;
$button-border-hover-background: $button-border-color !default;

// Button Text
$button-text-color: $dark !default;
$button-text-hover-color: $primary !default;


/*
 * Button Styles
 */

// Button Inverse
.button-inverse {
	@include button-theme($button-inverse-color, $button-inverse-background, $button-inverse-border, $button-inverse-hover-color, $button-inverse-hover-background, $button-inverse-hover-border);
}

// Text Button
.button-text {
	@include button-theme($button-text-color, transparent, none, $button-text-hover-color, transparent, none);
}

// Button Primary
.button-primary {
	@include button-theme($button-primary-color, $button-primary-background, $button-primary-border, $button-primary-hover-color, $button-primary-hover-background, $button-primary-hover-border);
}

// Button Secondary
.button-secondary {
	@include button-theme($button-secondary-color, $button-secondary-background, $button-secondary-border, $button-secondary-hover-color, $button-secondary-hover-background, $button-secondary-hover-border);
}

// Button Tertiary
.button-tertiary {
	@include button-theme($button-tertiary-color, $button-tertiary-background, $button-tertiary-border, $button-tertiary-hover-color, $button-tertiary-hover-background, $button-tertiary-hover-border);
}


// Button Border
.button-border {
	@include button-theme($button-border-color, $button-border-background, $button-border-border, $button-border-hover-color, $button-border-hover-background, $button-border-hover-border);
}
