/*
 * Definitions
 */

// Button Extra Large
$button-xlarge-padding: 2rem 3rem !default;
$button-xlarge-height: $height-xlarge !default;
$button-xlarge-font-size: $font-size-xlarge !default;

// Button Large
$button-large-padding: 1.5rem 2.5rem !default;
$button-large-height: $height-large !default;
$button-large-font-size: $font-size-large !default;

// Button Medium
$button-medium-padding: $button-padding !default;
$button-medium-height: $button-height !default;
$button-medium-font-size: $button-font-size !default;

// Button Small
$button-small-padding: 0.8rem 1.2rem !default;
$button-small-height: $height-small !default;
$button-small-font-size: $font-size-small !default;

// Button Extra Small
$button-xsmall-padding: 0.4rem 0.8rem !default;
$button-xsmall-height: $height-xsmall !default;
$button-xsmall-font-size: $font-size-xsmall !default;


/*
 * Button Sizes
 */

// Button Extra Large
.button-xlarge {
	@include button-size($button-xlarge-padding, $button-xlarge-height, $button-xlarge-font-size);
}

// Button Large
.button-large {
	@include button-size($button-large-padding, $button-large-height, $button-large-font-size);
}

// Button Medium
.button-medium {
	@include button-size($button-medium-padding, $button-medium-height, $button-medium-font-size);
}

// Button Small
.button-small {
	@include button-size($button-small-padding, $button-small-height, $button-small-font-size);
}

// Button Extra Small
.button-xsmall {
	@include button-size($button-xsmall-padding, $button-xsmall-height, $button-xsmall-font-size);
}
