/*
 * Definitions
 */

// Figure
$figure-display: block !default;
$figure-margin: 0 !default;
$figure-padding: 1rem !default;
$figure-border: 1px solid $light-grey !default;

// Figure Caption
$figure-caption-margin: 1rem 0 !default;
$figure-caption-font-family: $paragraph-font-family !default;
$figure-caption-font-weight: $paragraph-font-weight !default;
$figure-caption-font-size: $paragraph-font-size !default;
$figure-caption-color: $body-color !default;
$figure-caption-text-align: center !default;


/*
 * Figure
 */

// Figure
figure {
	display: $figure-display;
	margin: $figure-margin;
	padding: $figure-padding;
	border: $figure-border;
}

// Figure Caption
figcaption {
	margin: $figure-caption-margin;
	font-family: $figure-caption-font-family;
	font-weight: $figure-caption-font-weight;
	@include font-size($figure-caption-font-size);
	color: $figure-caption-color;
	text-align: $figure-caption-text-align;
}
