/*
 * Definitions
 */

// Fieldset
$fieldset-margin: 0 !default;
$fieldset-padding: 2rem !default;
$fieldset-border: 1px solid $grey !default;

// Feildset Legend
$fieldset-legend-margin: 0 !default;
$fieldset-legend-padding: 1rem !default;
$fieldset-legend-font-size: $font-size-medium !default;
$fieldset-legend-color: $grey !default;


/*
 * Fieldset
 */

fieldset {
	display: block;
	margin: $fieldset-margin;
	padding: $fieldset-padding;
	border: $fieldset-border;

	legend {
		display: inline-block;
		width: auto;
		margin: $fieldset-legend-margin;
		padding: $fieldset-legend-padding;
		@include font-size($fieldset-legend-font-size);
		color: $fieldset-legend-color;

		& + label {
			margin-top: 0;
		}
	}
}
