/*
 * Definitions
 */

// Input
$input-height: $height-medium !default;
$input-margin: $label-margin !default;
$input-padding: 0 1.6rem !default;
$input-color: $body-color !default;
$input-font-family: $regular-font-family !default;
$input-font-weight: $regular-font-weight !default;
$input-font-size: $font-size-medium !default;
$input-line-height: $line-height-medium !default;
$input-background: $white !default;
$input-border: 1px solid $light-grey !default;
$input-border-radius: $border-radius !default;

// Input Focus
$input-focus-color: $input-color !default;
$input-focus-background: darken($input-background, 2%) !default;
$input-focus-border: 1px solid darken($light-grey, 10%) !default;

// Input Placeholder
$input-placeholder-font-family: $input-font-family !default;
$input-placeholder-font-size: $input-font-size !default;
$input-placeholder-color: fade($input-color, 50%) !default;
$input-placeholder-line-height: $input-line-height !default;
$input-placeholder-letter-spacing: 0px !default;
$input-placeholder-text-transform: none !default;

// Input Inverse
$input-inverse-color: $white !default;
$input-inverse-background: $inverse !default;
$input-inverse-border: none !default;
$input-inverse-focus-color: $input-inverse-color !default;
$input-inverse-focus-background: darken($input-inverse-background, 2%) !default;
$input-inverse-focus-border: $input-inverse-border !default;

// Input Disabled
$input-disabled-color: $light !default;
$input-disabled-background: $light !default;
$input-disabled-border: 1px solid darken($light, 10%) !default;

// Input Search
$input-search-border-radius: 2rem !default;

// Textarea
$textarea-padding: 1.2rem 1.6rem !default;
$textarea-line-height: $line-height-medium !default;


/*
 * Input
 */

input,
textarea {
	@include input;

	@include appearance(none);

	// Override Normalise for Input Types
	@include box-sizing(border-box);

	// Input Size
	@include input-size($input-padding, $input-height, $input-font-size);

	// Input Theme
	@include input-theme($input-color, $input-background, $input-border, $input-focus-color, $input-focus-background, $input-focus-border);

	// Input Placeholder
	@include placeholder($input-placeholder-color, $input-placeholder-font-size, $input-placeholder-font-family, $input-placeholder-letter-spacing, $input-placeholder-text-transform);

	// Input Disabled
	&:disabled {
		cursor: no-drop;
		@include input-styles($input-disabled-color, $input-disabled-background, $input-disabled-border);
	}
}


/*
 * Textarea
 */

textarea {
	max-width: 100%;
	@include transition(none);
}
	
/*
 * Input Styles
 */

// Input Inverse
.input-inverse {

	// Input Inverse Theme
	@include input-theme($input-inverse-color, $input-inverse-background, $input-inverse-border, $input-inverse-focus-color, $input-inverse-focus-background, $input-inverse-focus-border);

	// Input Inverse Placeholder
	@include placeholder($input-inverse-color, $input-placeholder-font-size, $input-placeholder-font-family, $input-placeholder-letter-spacing, $input-placeholder-text-transform);
}
	
/*
 * Input Search
 */

// Input Search
input[type="search"] {
	border-radius: $input-search-border-radius;

	// Override Normalise for Input Types
	@include box-sizing(border-box);
}

	
/*
 * Input File
 */

// Input File
input[type="file"] {
	padding: 0;
	height: auto;
	background: transparent;
	border: none;

	// Override Normalise for Input Types
	@include box-sizing(border-box);
}



/*
 * Checkbox and Radio
 */

// Checkbox and Radio Buttons
input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	margin-right: 10px;
	width: auto;
	height: auto;

	& + p {
		margin: 0;
		display: inline-block;
	}

	& + label {
		display: inline-block;
	}
}

input[type="checkbox"] {
	@include appearance(checkbox);
}

input[type="radio"] {
	@include appearance(radio);
}


/*
 * Textarea
 */

// Reset height for `textarea`s
textarea {
	padding: $textarea-padding;
	height: auto;
	line-height: $textarea-line-height;
}
