/*
 * Definitions
 */

// Label
$label-margin: 1.5rem 0 !default;
$label-font-family: $semibold-font-family !default;
$label-font-weight: $semibold-font-weight !default;
$label-font-size: $font-size-small !default;
$label-color: $dark !default;
$label-line-height: $line-height-medium !default;


/*
 * Label
 */

//Label
label {
	display: block;
	margin: $label-margin;
	font-family: $label-font-family;
	font-weight: $label-font-weight;
	@include font-size($label-font-size);
	color: $label-color;
	line-height: $label-line-height;
}
