/*
 * Definitions
 */

// Body
$body-font-family: $regular-font-family !default;
$body-font-weight: $regular-font-weight !default; 
$body-color: $dark !default;
$body-line-height: $line-height-medium !default;
$body-letter-spacing: 0.02rem !default;
$body-background: $white !default;



/*
 * Body
 */

// Font Rendering
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Removes Dotted Border
:focus {
	outline: 0;
}

// General Styles
html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Body Font and Color
body {
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	color: $body-color;
	line-height: $body-line-height;
	letter-spacing: $body-letter-spacing;
	background: $body-background;
}
