/*
 * Breakpoints
 */

// Screen Sizes
$screen-mobile: 480px !default;

$screen-small: 768px !default;

$screen-medium: 1024px !default;

$screen-large: 1280px !default;

$screen-mobile-max: ($screen-small - 1) !default;
$screen-small-max: ($screen-medium - 1) !default;
$screen-medium-max: ($screen-large - 1) !default;
