//Shades
$white: #FFFFFF !default;
$black: #000000 !default;
$light-grey: #CFD8DC !default;
$grey: #546E7A !default;
$dark-grey: #37474F !default;

//Indicators
$info: #4FC3F7 !default;
$error: #EF9A9A !default;
$warning: #FDD835 !default;
$success: #9CCC65 !default;

//Palette
$light: #ECEFF1 !default;
$dark: $dark-grey !default;
$primary: #FC6E51 !default;
$secondary: #5D9CEC !default;
$tertiary: #967ADC !default;

//Utility
$inverse: $dark !default;
