//Shades
$white: #FFFFFF !default;
$black: #000000 !default;
$light-grey: #CCCCCC !default;
$grey: #3A4150 !default;
$dark-grey: #2B303B !default;

//Indicators
$info: #4FC3F7 !default;
$error: #EF9A9A !default;
$warning: #FDD835 !default;
$success: #9CCC65 !default;

//Palette
$light: #ECEFF1 !default;
$dark: $dark-grey !default;
$primary: #bf616a !default;
$secondary: #5D9CEC !default;
$tertiary: #a3be8c !default;

//Utility
$inverse: $dark !default;
