//Shades
$white: #FFFFFF;
$black: #000000;
$light-grey: #CFD8DC;
$grey: #546E7A;
$dark-grey: #37474F;

//Indicators
$info: #4FC3F7;
$error: #EF9A9A;
$warning: #FDD835;
$success: #9CCC65;

//Palette
$light: #ECEFF1;
$dark: $dark-grey;
$primary: #FC6E51;
$secondary: #5D9CEC;
$tertiary: #967ADC;

//Utility
$inverse: $dark;
