/*
 * Definitions
 */

// Fonts
$font-path: '../fonts' !default;
$sans-serif-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif-font-family: Georgia, "Times New Roman", Times, serif !default;
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", monospace !default;

// Generic Font Families
$thin-font-family: $sans-serif-font-family !default;
$regular-font-family: $sans-serif-font-family !default;
$medium-font-family: $sans-serif-font-family !default;
$semibold-font-family: $sans-serif-font-family !default;
$bold-font-family: $sans-serif-font-family !default;

// Generic Font Weights
$thin-font-weight: 300 !default;
$regular-font-weight: 400 !default;
$medium-font-weight: 500 !default;
$semibold-font-weight: 600 !default;
$bold-font-weight: 700 !default;

// Font Sizes
$font-size-xlarge: 1.8 !default;
$font-size-large: 1.6 !default;
$font-size-medium: 1.4 !default;
$font-size-small: 1.2 !default;
$font-size-xsmall: 1 !default;

// Line height
$line-height-xlarge: 1.75 !default;
$line-height-large: 1.5 !default;
$line-height-medium: 1.35 !default;
$line-height-small: 1.2 !default;
$line-height-xsmall: 1 !default;
