/*
 * Global
 */

// Border Radius
$border-radius: 2px;

// Z-Index
$z-index-high: 999;
$z-index-medium: 99;
$z-index-low: 9;

// Animation
$animation-fast: 0.5s;
$animation-medium: 1s;
$animation-slow: 2s;

// Transition
$transition-fast: 0.2s;
$transition-medium: 0.3s;
$transition-slow: 0.5s;

// Height
$height-xlarge: 6.5rem !default;
$height-large: 5rem !default;
$height-medium: 4rem !default;
$height-small: 3rem !default;
$height-xsmall: 2rem !default;

// Margin
$margin-xlarge: 10rem !default;
$margin-large: 6.5rem !default;
$margin-medium: 5rem !default;
$margin-small: 3.5rem !default;
$margin-xsmall: 2rem !default;

// Padding
$padding-xlarge: 10rem !default;
$padding-large: 6.5rem !default;
$padding-medium: 5rem !default;
$padding-small: 3.5rem !default;
$padding-xsmall: 2rem !default;

// Max Width
$max-width-xlarge: 1280px !default;
$max-width-large: 1024px !default;
$max-width-medium: 800px !default;
$max-width-small: 600px !default;
$max-width-xsmall: 450px !default;
