/*
 * Definitions
 */

// Link
$link-color: $primary !default;
$link-text-decoration: none !default;

// Link Hover
$link-hover-color: $dark !default;
$link-hover-decoration: underline !default;


/*
 * Link
 */

a {
	color: $link-color;
	text-decoration: $link-text-decoration;
	@include transition(color $transition-fast ease-in-out);
	
	&:not(.button):hover,
	&:not(.button):focus {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}
