/*
 * Definitions
 */

// Root Size
$root-size: 10px !default;
$root-size-xlarge: $root-size !default;
$root-size-large: $root-size !default;
$root-size-medium: $root-size !default;
$root-size-small: $root-size - 1 !default;
$root-size-xsmall: $root-size - 1 !default;


/*
 * Root Size
 */

:root {
  font-size: $root-size;
  
  @media #{$large} {
      font-size: $root-size-large;
  }

  @media #{$medium} {
      font-size: $root-size-medium;
  }
  
  @media #{$small} {
      font-size: $root-size-small;
  }

  @media #{$mobile} {
      font-size: $root-size-xsmall;
  }
}  
