<!DOCTYPE html>
<html>

{% include head.html %}

<body id="docs">

    <header class="site-header">
        <div class="container">
            <div class="row">
                <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

                <nav class="site-nav">
                    {% for my_page in site.pages %}
                        {% if my_page.title %}
                            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                        {% endif %}
                    {% endfor %}
                </nav>
            </div>
        </div>
    </header>
    
    <main class="documentation">
        <div class="main">
            <nav class="sidebar">
                <div class="scroll">
                    <ul>
                        <li><a href="#getting-started">Getting Started</a></li>
                        <li>
                            <a href="#">Grid</a>
                            <ul>
                                <li><a href="#">Hello</a></li>
                                <li><a href="#">Hello</a></li>
                                <li><a href="#">Hello</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Typography</a></li>
                        <li><a href="#">Elements</a></li>
                        <li><a href="#">Components</a></li>
                        <li><a href="#">Utilities</a></li>
                    </ul>
                </div>
            </nav>

            <div class="content">
                {{ content }}
            </div>
        </div>
    </main>

</body>

</html>
