/*
 * Float
 */
 
//Right
.right {
	float: right !important;
}

.clear-right-large {

	@media #{$large} {
		float: none !important;
	}
}

.clear-right-medium {

	@media #{$medium} {
		float: none !important;
	}
}

.clear-right-small {

	@media #{$small} {
		float: none !important;
	}
}

.clear-right-mobile {

	@media #{$mobile} {
		float: none !important;
	}
}

//Left
.left {
	float: left !important;
}

.clear-left-large {

	@media #{$large} {
		float: none !important;
	}
}

.clear-left-medium {

	@media #{$medium} {
		float: none !important;
	}
}

.clear-left-small {

	@media #{$small} {
		float: none !important;
	}
}

.clear-left-mobile {
	
	@media #{$mobile} {
		float: none !important;
	}
}
