/*
 * Definitions
 */

// Container
$container-mobile: 100% !default;
$container-small: 100% !default;
$container-medium: 1024px !default;
$container-large: 1280px !default;

/*
 * Container
 */
 
.container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	@include clearfix;

	@media #{$large} {
		padding-left: $gutter-large;
		padding-right: $gutter-large;
		max-width: $container-large;
	}

	@media #{$medium} {
		padding-left: $gutter-medium;
		padding-right: $gutter-medium;
		max-width: $container-medium;
	}
	
	@media #{$small} {
		padding-left: $gutter-small;
		padding-right: $gutter-small;
		max-width: $container-small;
	}

	@media #{$mobile} {
		padding-left: $gutter-mobile;
		padding-right: $gutter-mobile;
		max-width: $container-mobile;
	}
}
